.container {

    .products {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 15px;

        &-item {
            width: 30%;
        }
    }
}
