<div class="container">
    <mat-tab-group mat-align-tabs='center' (selectedTabChange)="displayProducts($event, products)">
        <mat-tab *ngFor="let item of items" [label]="item">
        </mat-tab>
    </mat-tab-group>
    <div class="products">
        <app-product-item
            class="products-item"
            *ngFor="let product of actualProducts"
            [showProducts]="actualProducts"
            [chooseProduct]="product">
        </app-product-item>
    </div>
</div>
