.backdrop {
    background-color: lightgray;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
}

.modal {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    height: 100%;
    left: 50%;
    max-height: 450px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 100;

    div {
        align-items: center;
        border-bottom: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px;
        width: 90%;

        &:last-child {
            border: none;
        }

        &.modal-total {
            justify-content: flex-end;
        }

        &.modal-checkout {
            justify-content: flex-end;

            .checkout-btn {
                align-items: center;
                background-color: #528ec1;
                border: none;
                color: white;
                cursor: pointer;
                display: flex;
                font-size: 16px;
                height: 40px;
                justify-content: space-between;
                padding: 10px;
                width: 150px;
            }
        }

        .close-btn {
            background-color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            height: 32px;
            width: 32px;

            &:hover {
                background-color: lightgray;
                border: 1px solid gray;
            }
        }
    }

    &-products {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 200px;
        overflow-y: scroll;

        div {

            p {

                &:first-child {
                    width: 150px;
                }
            }

            button {
                background-color: lightgray;
                border: none;
                border-radius: 50%;
                color: gray;
                cursor: pointer;
                height: 24px;
                width: 24px;
            }
        }
    }
}
