<div class="backdrop" *ngIf="modal"></div>

<div class="modal" *ngIf="modal">
    <div>
        <p>SHOPPING CART</p>
        <button class="close-btn" (click)="closeCart()" routerLink="/">X</button>
    </div>
    <div *ngIf="!productsInCart.length">
        <p>YOUR CART IS CURRENTLY EMPTY.</p>
    </div>
    <div class="modal-products" *ngIf="productsInCart.length">
        <div *ngFor="let product of productsInCart">
            <p>{{product.ProductName}}</p>
            <p>{{product.Quantity}}x</p>
            <p>&euro;{{product.Quantity * product.UnitPrice}}</p>
            <button (click)="deleteProduct($event)" [id]="product.ProductID">x</button>
        </div>
    </div>
    <div class="modal-total" *ngIf="totalForPayment > 0">
        <p>Total: &euro;{{totalForPayment}}</p>
    </div>
    <div class="modal-checkout" *ngIf="productsInCart.length">
        <button (click)="checkout()" class="checkout-btn" routerLink="/">
            <mat-icon>payment</mat-icon>
            CHECKOUT
        </button>
    </div>
</div>
