.header {
    background-color: #182e49;
    .container {
        align-items: center;
        color: white;
        display: flex;
        height: 80px;
        justify-content: space-between;
        padding: 10px;

        .logo {

        }

        .title {
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .actions {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 300px;

            form {

                input {
                    height: 30px;
                }
            }

            button {
                align-items: center;
                background-color: #0f243d;
                border: none;
                color: white;
                cursor: pointer;
                display: flex;
                font-size: 18px;
                font-weight: bold;
                height: 40px;
                justify-content: center;
                position: relative;
                width: 100px;

                &:focus {
                    outline: none;
                }

                .mat-icon {
                    color: white;
                }

                p {
                    align-items: center;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    height: 24px;
                    justify-content: center;
                    position: absolute;
                    right: -10px;
                    top: -25px;
                    width: 24px;
                }
            }
        }
    }
}
