<div class="header">
    <div class="container">
        <span class="logo">Logo</span>
        <span class="title">Online Store</span>
        <div class="actions">
            <form class="example-form">
                <input type="text"
                       placeholder="Search for a product"
                       [formControl]="control"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                        *ngFor="let product of filteredProducts | async"
                        [value]="product">
                        {{product}}
                    </mat-option>
                </mat-autocomplete>
            </form>
            <button (click)="openCart()">
                <p>{{numberProductsInCart}}</p>
                <mat-icon aria-hidden="false" class="mat-icon notranslate material-icons mat-icon-white-color">shopping_cart</mat-icon>
                Cart
            </button>
        </div>
    </div>
</div>

<app-cart [modal]="openModal" [productsInCart]="products" [totalForPayment]="total"></app-cart>
