<div class="container">
    <h2>{{product.ProductName}}</h2>

    <div class="product-details">
        <div>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="img">
        </div>
        <div>
            <p>Price: &euro;{{product.UnitPrice}}</p>
            <button mat-stroked-button color="primary">
                <mat-icon aria-hidden="false" class="mat-icon notranslate material-icons mat-icon-white-color" color="primary">shopping_cart</mat-icon>
                Add To Cart
            </button>
        </div>
        <div>
            <span>
                <mat-icon aria-hidden="false" class="mat-icon notranslate material-icons">star_rate</mat-icon>
            </span>
            <span>
                <mat-icon aria-hidden="false" class="mat-icon notranslate material-icons">star_rate</mat-icon>
            </span>
            <span>
                <mat-icon aria-hidden="false" class="mat-icon notranslate material-icons">star_rate</mat-icon>
            </span>
            <span>
                <mat-icon aria-hidden="false" class="mat-icon notranslate material-icons">star_rate</mat-icon>
            </span>
            <span>
                <mat-icon aria-hidden="false" class="mat-icon notranslate material-icons">star_rate</mat-icon>
            </span>
        </div>
    </div>
    <div class="product-description">
        <h3>Description</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
    </div>
</div>
