.container {
    h2 {
        color: #182e49;
        letter-spacing: 1px;
        text-align: center;
    }

    .product-details {
        display: flex;

        div {
            margin: 30px;

            p {
                font-size: 20px;
                margin: 0;
                padding: 0;
            }

            button {
                margin-top: 30px;
            }

            span {
                mat-icon {
                    color: #e5c649;
                }
            }
        }

        img.mat-card-image {
            height: 250px;
            width: 250px;
        }
    }

    .product-description {
        h3 {
            letter-spacing: 1px;
            text-align: center;
        }

        p {
            color: #182e49;
            line-height: 1.5;
            text-indent: 50px;
            text-align: justify;
        }
    }
}
