mat-card {
    border: 1px solid lightgray;
    display: inline-block;
    margin: 5px;

    mat-card-header {

        mat-card-title {
            color: #182e49;
        }

        mat-card-subtitle {

        }
    }

    mat-card-content {
        p {
            color: #182e49;
            font-size: 18px;
            text-align: center;
        }
    }

    mat-card-actions {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        mat-form-field {
            height: 60px;
            width: 60px;
        }

        button {
            height: 50px;
            width: 100px;
            z-index: 100;
        }
    }
}
