<mat-card class="example-card">
    <mat-card-header [routerLink]="['/product-details', chooseProduct.ProductID]">
        <mat-card-title>{{chooseProduct.ProductName}}</mat-card-title>
        <mat-card-subtitle>{{chooseProduct.CategoryName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="img"
         [routerLink]="['/home/product-details', chooseProduct.ProductID]">
    <mat-card-content>
        <p>
            &euro;{{chooseProduct.UnitPrice}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <mat-form-field appearance="outline">
            <input matInput
                   #inputQuantity
                   type="number"
                   min="1"
                   max="100"
                   [value]=quantity
                   >
        </mat-form-field>
        <button mat-stroked-button
                color="primary"
                (click)="addToCart()">
            Add to cart
        </button>
    </mat-card-actions>
</mat-card>
